* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;

}

a {
    text-decoration: none;
    color: currentColor;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.container-md {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: none;
    background-color: transparent;
}

/*header*/
.header {
    background-color: rgb(0, 132, 253);
    color: white;
    padding: 10px;
}

.logo-header {
    width: 50px;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}

.list-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 15px;
}

.button-header {
    border-radius: 999px;
    background-color: white;
    min-height: 30px;
    padding: 0 10px;
}

nav .fa-bars {
    display: none;

}

@media (max-width:850px) {
    .list-header {
        display: none;

    }

    nav .fa-bars {
        color: white;
        display: flex;
    }
}

@media (max-width:480px) {
    .list-header {
        display: none;

    }

    .col-8 {
        width: none;
    }

    .fa-bars {
        color: white;
        display: flex;
    }
}



/*section-demo*/
.section-demo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-8 {
    width: calc(8*100% / 12);
    display: flex;
    padding: 10px;
    border-radius: 10px;

}

.title-sectiondemo {
    color: rgb(0, 132, 253);
}

.col-33 {
    padding: 10px;
    width: calc(100% / 3);

}

.first-col-demo {
    display: flex;
    align-items: stretch;
}

.text-sectiondemo {
    background-color: rgb(181, 221, 255);
    align-items: center;
    gap: 30px;
    flex-direction: column;
    display: flex;
    padding: 20px;
    border-radius: 10px;
}

.background-head {
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
}

.col-60 {
    padding: 30px;
    gap: 50px;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 60%;
    border-radius: left 10px;
}

.col-40 {
    padding-top: 62px;
    width: 40%;

}

.p-demo {
    text-align: center;
    font-size: 15px;
}

.fa-file-code {
    font-size: 80px;
    color: rgb(0, 132, 253);

}

.title-col33 {
    color: rgb(0, 132, 253);

}

.button-apple {
    border-radius: 9999px;
    min-height: 30px;
    padding: 0 40px;
    color: white;
    background-color: rgb(0, 132, 253);
}

@media (max-width:850px) {
    .section-demo .p {
        font-size: 10px;
    }

    .col-40 {
        padding-top: 0;
    }

    .col-50 {
        display: flex;
        flex-wrap: wrap;
    }

    .col-60 {
        width: 100%;
    }
}

@media (max-width:480px) {
    .col-50 {
        width: 100%;

    }

    .col-60 {
        width: 100%;

    }

    .col-40 {
        width: 100%;
    }

    .col-33 {
        width: 100%;
    }
}

/*section-planning*/
.section-planning {
    background-color: rgb(151, 146, 228);
}

.col-50 {
    width: 50%;
}

.img1-planning {
    width: 300px;
    padding-top: 50px;
}

.title-planning {
    color: white;
    padding-top: 100px;
    font-size: 25px;
}

.p-planning {
    max-width: 400px;
    font-size: 15px;
    padding-top: 25px;
    color: white;
}

.padding-planning2 {
    padding-bottom: 30px;
    padding-top: 180px;
}

.planning2 {
    padding: 25px 10px;
    border-radius: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
}

.img-planning2 {
    width: 200px;
}

.title-planning2 {
    padding-top: 10px;
}

.p-planning2 {
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    max-width: 300px;
}

.button-planning {
    background-color: rgb(151, 146, 228);
    border-radius: 999px;
    padding: 10px 15px;
    font-size: 15px;
}

@media (max-width:850px) {
    .col-50 {
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .button-planning {

        padding: 15px 25px;
        font-size: 30px;
    }

    .p-planning2 {
        font-size: 20px;
    }

    .padding-planning2 {
        padding-top: 30px;
    }

    .img1-planning {
        width: 90%;
    }

    .p-planning {
        max-width: none;
        font-size: 20px;
    }

    .title-planning {
        font-size: 50px;
    }

    .planning2 {
        padding: 50px;
    }

    .title-planning2 {
        font-size: 30px;
    }

    .p-planning2 {
        max-width: none;
    }

    .img-planning2 {
        width: 100%;
    }
}

@media (max-width:480px) {
    .col-sm-12 {
        width: 100%
    }

    .col-12 {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .section-testimonial {
        margin-right: 10px;
        margin-left: 10px;
    }

    .section-testimonial .title-testimonials {
        font-size: 30px;
    }
}



.section-testimonial {
    text-align: center;
    padding: 50px 0;
}

.title-testimonials {
    font-size: 40px;
    color: rgb(151, 146, 228);
    padding: 40px 0;
}

.col-12 {
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    padding: 30px 0;
    width: 100%;
    background-color: rgb(151, 146, 228);
    border-radius: 30px;
}

.col-12 img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-left: 10px;
    margin-right: 10px;
}

.margin-testimon {
    margin-left: 20px;
    color: white;
}

.margin-testimon h5 {
    margin-top: 20px;
    font-size: 15px;
}