* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
    display: block;
}

ul,
ol, menu {
	list-style: none;
    
}

a {
    text-decoration: none;
    color: currentColor;
}

.container-sm{
   max-width: 1000px;
   margin: 0 auto;
}

.container-md{
   max-width: 1200px;
   margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
button {
	border: none;
	background-color: transparent;
}

/*header*/
.header{
    background-color: rgb(37, 179, 255);
    color: white;
    padding: 10px;
}
.logo-header{
    width: 50px;
}
.header .row{
    justify-content: space-between;
    align-items: center;
}
.list-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 15px;
}
.button-header{
    border-radius: 999px;
    background-color: white;
    min-height: 30px;
    padding: 0 10px;
}
@media (max-width:980px) {
    .list-header{
        display: none;
    }
}



/*section-demo*/
.section-demo{
    padding-top: 50px;
}
.col-50{
    width: 66.66%;
    border: 1px solid black;

}

.col-33{
    width: calc(100% / 3);
    border: 1px solid black;
}

